{block content}

<div class="column">
    <h1 n:block=title class="title">Добро пожаловать!</h1>
    <nav class="panel">
        <p class="panel-heading">
            Подзадачи
        </p>
        <a class="panel-block">
            bulma
        </a>
    </nav>
</div>
