{block content}

<div class="column">
    <h1 n:block=title class="title">Добро пожаловать!</h1>
    <nav class="panel">
        <p class="panel-heading">
            Подзадачи
        </p>
        <a class="panel-block" n:href="Posts:ListAndLastThreeComments">
            Список постов с тремя последними комментариями
        </a>
        <a class="panel-block" n:href="Posts:ListAndLastComment">
            Список постов и последний комментарий к ним
        </a>
    </nav>
</div>
